/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Contenedor principal */
.login-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.content-wrapper {
  position: absolute;
  top: 15%;
  left: -13%;
  width: 100%;
  height: 63%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.welcome-image {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
}

/* Contenedor de formulario */
.form-container {
  flex: 0;
  display: contents;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-form {
  background-color: #f3fde3;
  border: 2px dashed #333;
  border-radius: 15px;
  padding: 30px;
  width: 100%;
  max-width: 450px;
  margin-top: 12%;
}

.title {
  color: #00c853;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.2;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

/* Estilos para los campos de entrada */
.form-inputa, .form-inputb {
  width: 100%;
  padding: 12px;
  border: 2px dashed #333;
  border-radius: 10px;
  background-color: #dbf7dc;
  font-size: 16px;
}

/* Botón de inicio */
.start-button {
  width: 100%;
  padding: 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.start-button:hover {
  background-color: #388e3c;
}

/* Estas son las medidas para celular */
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column; 
    top: 10%;
    left: 0;
    height: auto; 
  }

  .image-container {
    padding: 10px; 
  }

  .welcome-image {
    max-width: 100%; 
    height: auto; 
  }

  .login-form {
    padding: 20px;
    width: 90%; 
    max-width: 100%;
  }

  .title {
    font-size: 1.8rem; 
    margin-bottom: 20px;
  }

  .form-inputa, .form-inputb {
    font-size: 14px; 
    padding: 10px;
  }

  .start-button {
    font-size: 16px; 
    padding: 12px; 
  }
}
