@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');

.Fondo {
  background-image: url("../img/PlantasFondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  /* Estilo para las imagenes de fondo */
  width: 100vw;
  height: 100vh;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plantario{
  color: #4f9141;
  font-family: 'Rubik Spray Paint', sans-serif;
  font-size: 300%; 
  font-weight: 100; /*Hace la letra mas delgada*/
  position: absolute;
  top: 11%;
}

.botonRegistrarse {
  background-color: #373737;
  color: white;
  line-height: 20px;
  width: 28%;
  height: 10%;
  font-family: sans-serif;
  position: absolute;
  top: 39%;
  border-radius: 15px; 
  padding: 10px 20px; 
  border: none; 
  font-size: 13px;
  text-align: center; 
}



.botonCuenta{
  background-color: white;
  color: black;
  line-height: 20px;
  width: 28%;
  height: 10%;
  font-family: sans-serif;
  position: absolute;
  top: 52%;
  border-radius: 15px;
  padding: 10px 20px;
  border: none;
  font-size: 13px;
  text-align: center;
}
